
  * {
    box-sizing: border-box;
  }

  body {
    font: 16px Arial;
    /*background-image: url("../static/image/bg.png");*/
  }

  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }

  input {
    border: 1px solid transparent;
    /*background-color: #f1f1f1;*/
    background-color: #faf7f7;
    padding: 10px;
    font-size: 16px;
  }

  input[type=text] {
    /*background-color: #f1f1f1;*/
    background-color: #faf7f7;
    width: 100%;
  }

  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }

  .autocomplete-items {
    position: absolute;
    /*position: relative;*/
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    /*background-color: #000; */
    border-bottom: 1px solid #d4d4d4; 
  }

  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }

  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  .centered-div {
      position: absolute;
      /*position: static;*/
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /*margin-left: auto;*/
      /* Additional styles for the centered div */
    }

  .overview-text {
    color: grey; 
    font-size: 15px;
  }

  .footer {
     position: fixed;
     /* border: 1px solid blue; */
     /* background-color: rgba(255,200,200,0.5);   */
     width: 100%;
     height: 55px;
     bottom: 0;
     text-align: center;
     color: rgb(68, 71, 110);
     font-size: 13px;
     /* left: 0;
     right: 0; */
  }
